
<div class="container">
    <div class="formulario">

<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Razón Social / Nombre Completo" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :document_type,"Tipo de Documento" %>
    <%= form.select(:document_type, options_for_select(["DNI","CUIL","CUIT"])) %>
  </div>

  <div class="field">
    <%= form.label :document_number,"Número" %>
    <%= form.text_field :document_number %>
  </div>

  <div class="field">
    <%= form.label :address,"Dirección" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone,"Telefóno" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :state,"Localidad" %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :partido,"Partido" %>
    <%= form.text_field :partido %>
  </div>

  <div class="field">
    <%= form.label :province,"Provincia" %>
    <%= form.text_field :province %>
  </div>

  <div class="field">
    <%= form.label :postal_code,"Código Postal" %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :contact_name,"Contacto" %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_mail,"Mail de Contacto" %>
    <%= form.text_field :contact_mail %>
  </div>

  <div class="actions">
    <%= form.submit 'Grabar Nuevo Cliente', class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>