<h1>Editar Cliente</h1>


<div class="container">
    <div class="formulario">

<%= form_for @cliente do |form| %>

  <div class="field">
    <%= form.label :name, "Razón Social / Nombre Completo" %>
    <%= form.text_field :name, :size=>"30" %>
  </div>

  <div class="field">
    <%= form.label :document_type,"Tipo de Documento" %>
    <% if @cliente.document_type == "DNI" %>
        <%= form.select(:document_type, options_for_select(["#{@cliente.document_type}",
        													"CUIL","CUIT"])) %>
    <% else %>
    	<% if @cliente.document_type == "CUIL" %>
        <%= form.select(:document_type, options_for_select(["#{@cliente.document_type}",
        													"DNI","CUIT"])) %>
       	<% else %>
       		<%= form.select(:document_type, options_for_select(["#{@cliente.document_type}",
        													"DNI","CUIL"])) %>
        <% end %>
    <% end %>    
  </div>

  <div class="field">
    <%= form.label :document_number,"Número" %>
    <%= form.text_field :document_number %>
  </div>

  <div class="field">
    <%= form.label :address,"Dirección" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone,"Telefóno" %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :state,"Localidad" %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :partido,"Partido" %>
    <%= form.text_field :partido %>
  </div>

  <div class="field">
    <%= form.label :province,"Provincia" %>
    <%= form.text_field :province %>
  </div>

  <div class="field">
    <%= form.label :postal_code,"Código Postal" %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :contact_name,"Contacto" %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_mail,"Mail de Contacto" %>
    <%= form.text_field :contact_mail, :size=>"30" %>
  </div>

  <div class="actions">
    <%= form.submit 'Editar Cliente', class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>

<%= link_to 'Show', @cliente %> |
<%= link_to 'Back', clientes_path %>
