<h1 class="text-left">Listado de Clientes</h1>

<%= link_to "Nuevo Cliente", new_cliente_path, class: "btn btn-primary" %><br><br>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
  <thead>
    <tr class="d-flex">
      <th>Razón Social</th>
      <th>DNI / CUIT / CUIL</th>
      <th>Contacto</th>
      <th>Teléfono</th>
      <th class="text-center">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr class="d-flex">
        <td style="width: 26%; vertical-align: middle;"><%= cliente.name %></td>
        <td style="width: 14%; vertical-align: middle;">
        <%= cliente.document_type %>: <%= cliente.document_number %></td>
        <td style="width: 26%; vertical-align: middle;"><%= cliente.contact_name %> <%= cliente.contact_mail%></td>
        <td style="width: 10%; vertical-align: middle;"><%= cliente.phone %></td>
        <% if cliente.present? %>
        <th class="text-center" style="vertical-align: middle;">
            <%= link_to "Mostrar", cliente, class: "btn btn-success" %>
            <%= link_to "Editar", edit_cliente_path(cliente), class: "btn btn-warning" %>
            <%= link_to "Eliminar", cliente, class: "btn btn-danger", method: :delete, data: { confirm: 'Estás seguro?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


