
<div class="container">
  <div class="formulario">

<p>
  <strong>Razón Social / Nombre Completo:</strong>
  <%= @cliente.name %>
</p>

<p>
  <strong>Documento</strong>
  <%= @cliente.document_type %>: <%= @cliente.document_number %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @cliente.address %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @cliente.phone %>
</p>

<p>
  <strong>Localidad / Partido:</strong>
  <%= @cliente.state %>, <%= @cliente.partido %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @cliente.province %>
</p>

<p>
  <strong>Código Postal:</strong>
  <%= @cliente.postal_code %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @cliente.contact_name %> -  <%= @cliente.contact_mail %>
</p>

<%= link_to 'Editar Cliente', edit_cliente_path(@cliente), class: "btn btn-primary" %> 
<%= link_to 'Listado de Clientes', clientes_path, class: "btn btn-warning" %>

</div>
</div>
