<% provide(:title, "Inicio") %>
<div class="center jumbotron">
<br>
<h1>Portal de Gestión</h1>
<p>
    <h2>Software Integral de Mundo Satelital</h2>
    <br><br>
    <%= @myName %>
 <%#= link_to "Login", new_user_session_path, class: "btn btn-lg btn-primary" %>
 <%#= link_to "Registrate", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</p>
</div>