
<div class="container">
    <div class="formulario">

    <%= form_with(model: servicio, local: true) do |f| %>
  
    <div class="field">  
        <%= f.label :technology, 'Elegir Tecnología' %>
        <%= f.collection_select :technology_id, 
        Technology.where(provider_id: @provider), :id, :name  %>
    </div>
        
    <div class="field">
        <%= f.label :contencion,'Contención' %>
        <%= f.select(:contencion, options_for_select(['Dedicado','Cir 100%','1:1','1:4','1:10','1:15','1:16','Sin CIR'])) %>
    </div>

    <div class="field">
        <%= f.label :comodato %>
        <%= f.select(:comodato, options_for_select(['Si','No'])) %>
    </div>

    <div class="field">
        <%= f.label :bajada, 'Bajada/Download KBPS' %>
        <%= f.number_field :bajada %> KBPS
    </div>


    <div class="field">
        <%= f.label :subida, 'Subida/Upload KBPS' %>
        <%= f.number_field :subida %>
    </div>

    <div class="field">
        <%= f.label :cuota_trafico, 'Cuota de Tráfico - GB' %>
        <%= f.number_field :cuota_trafico %>
    </div>

    <div class="field">
        <%= f.label :precio, 'Precio USD' %>
        <%= f.number_field :precio %>
    </div>

    <div class="actions">
    <%= f.submit 'Crear Servicio', class: "btn btn-primary" %>
    </div>
    
    <%= f.hidden_field(:provider_id, :value => @provider.id ) %>
    
<% end %>
</div>
</div>    


