<h1>Editar Servicio de <%= @servicio.provider.name %> <br> Tecnología <%= @servicio.technology.name %></h1>
<div class="formulario">
    <%= form_for @servicio do |f| %>
      
     <div class="field">
        <%= f.label :contencion,'Contención' %>
        <%= f.select(:contencion, options_for_select(['Cir 100%','1:1','1:4','1:10','1:15','1:16'])) %>
    </div>

      <div class="field">
        <%= f.label :comodato %>
        <%= f.select(:comodato, options_for_select(['Si','No'])) %>
    </div>

      <div class="field">
        <%= f.label :bajada, 'Bajada/Download KBPS' %>
        <%= f.number_field :bajada %> KBPS
    </div>

      <div class="field">
        <%= f.label :subida, 'Subida/Upload KBPS' %>
        <%= f.number_field :subida %>
    </div>

      
    <div class="field">
        <%= f.label :cuota_trafico, 'Cuota de Tráfico - GB' %>
        <%= f.number_field :cuota_trafico %>
    </div>
      
      <div class="field">
        <%= f.label :precio, 'Precio USD' %>
        <%= f.number_field :precio %>
    </div>
      
      <div class="actions">
      <%= f.submit "Actualizar servicio", class: "btn btn-primary" %>
       </div>
    
    <% end %>
</div>
