<h1 class="text-left">LISTAdo DE Servicios de <%= @provider.name %></h1>

<%= link_to "Nuevo Servicio de #{@provider.name}", new_servicio_path(:provider_name=>@provider.name), class: "btn btn-primary" %>
<br><br>

  <div class="table-responsive">
  <table class="table table-bordered table-hover">
  <thead>
    <tr class="d-flex">
       <th>Tecnología</th>
       <th>Contención</th>
       <th class="text-center">Comodato</th>
       <th>Bajada</th>
       <th>Subida</th>
       <th>Límite</th>
       <th>Precio</th>
       <th class="text-center">Opciones</th>
      </tr>
    </thead>
    
    <tbody>
      <% @servicios.each do |servicio| %>
    <tr class="d-flex">
      <td style="width: 12%; vertical-align: middle;"><%= servicio.technology.name %></td>
      <td style="width: 10%; vertical-align: middle;"><%= servicio.contencion %></td>
      <td style="width: 10%; vertical-align: middle; text-align: center;"><%= servicio.comodato %></td>
      <td style="width: 12%; vertical-align: middle;"><%= servicio.bajada %> Kbps</td>
      <td style="width: 12%; vertical-align: middle;"><%= servicio.subida %> Kbps</td>
      <td style="vertical-align: middle;"><%= servicio.cuota_trafico %> GB</td>
      <td style="width: 15%; vertical-align: middle;">u$d <%= servicio.precio %></td>
      <th class="text-center" style="vertical-align: middle;">
       <%= link_to "Editar", edit_servicio_path(servicio), class: "btn btn-warning"  %>  
       <%= link_to "Eliminar", servicio, class: "btn btn-danger", method: :delete, data: { confirm: 'Estás seguro?' } %>  </th>
    </tr>
     <% end %>
    </tbody>
  </table>
</div>
