

<h1>Servicio de <%= @servicio.provider.name %></h1>
<%= link_to "Nuevo Servicio de #{@servicio.provider.name}", new_servicio_path(:provider_name=>@servicio.provider.name), class: "btn btn-primary" %>
<br><br>

     <table>
     <tr>
       <th>Tecnología</th>
       <th>Contención</th>
       <th>Comodato</th>
       <th>Bajada</th>
       <th>Subida</th>
       <th>Cuota de Tráfico</th>
       <th>Precio</th>
      </tr>
      <tr>
          <td><%= @servicio.technology.name %></td>
          <td><%= @servicio.contencion %></td>
          <td><%= @servicio.comodato %></td>
          <td><%= @servicio.bajada %> Kbps</td>
          <td><%= @servicio.subida %> Kbps</td>
          <td><%= @servicio.cuota_trafico %> GB</td>
          <td>u$d <%= @servicio.precio %></td>
      </tr>
  </table>
<br>


<p>
<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path(:provider_name=>@servicio.provider.name) %>
</p>
