<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Mundo Satelital, <%= @user.name %></h1>
    <p>
      Te registraste con éxito en la App de Mundo Satelital,
      tu usuario es: <%= @user.email %>.<br>
    </p>
    <p>
      Para loguearte, andá al siguiente link: <%= @url %>.
    </p>
    <p>Gracias por unirte a nosotros y que tengas un excelente día!</p>
  </body>
</html>