Bienvenido a la App de Mundo Satelital, <%= @user.name %>
===============================================
 
Te registraste con éxito en la App de Mundo Satelital, 
tu usuario es: <%= @user.email %>.
 
Para loguearte, andá al siguiente link: <%= @url %>.
 
Gracias por unirte a nosotros y que tengas un excelente día!