<%= form_with(model: ticket, local: true) do |form| %>

  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">  
        <%= form.label :cliente_servicio, 'Elegir CPA / ID' %>
        <%= form.collection_select :cliente_servicio_id, ClienteServicio.where(aasm_state:"Alta"), :cpaid, :cpaid   %>
    </div>

  <div class="field">
    <%= form.label :title, 'Título' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :fecha_inicio, 'Fecha y Hora' %>
    <%= form.datetime_select :fecha_inicio %>
  </div>

  <div class="field">
    <%= form.label :reason, 'Motivo' %>
    <%= form.text_field :reason %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit 'Grabar Ticket', class: "btn btn-primary" %>
  </div>
<% end %>
