<h1 class="text-left">Sistema de Tickets</h1>
<%= link_to "Crear Nuevo Ticket", new_ticket_path, 
class: "btn btn-primary" %>
<%= link_to "Ticket Cerrados", tickets_path(aasm_state: "Cerrado"), 
class: "btn btn-warning" %><br><br>



  <div class="table-responsive">
  <table class="table table-bordered table-hover">
  <thead>
    <tr class="d-flex">
      <th>CPA / ID</th>
      <th>Título</th>
      <th>Inicio</th>
      <th>Estado</th>
      <th>Motivo</th>
      <th>Descripción</th>
      <th class="text-center">Opciones</th>
      <th class="text-center">Cambiar Estado:</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr class="d-flex">
        <td style="vertical-align: middle;"><%= ticket.cliente_servicio_id %></td>
        <td style="width: 8%; vertical-align: middle;"><%= ticket.title %></td>
        <td style="width: 10%; vertical-align: middle;"><%= ticket.fecha_inicio %></td>
        <td style="vertical-align: middle;"><%= ticket.aasm_state %></td>
        <td style="width: 16%; vertical-align: middle;"><%= ticket.reason %></td>
        <td style="width: 20%; vertical-align: middle;"><%= ticket.description %></td>
        
        <th class="text-center" style="vertical-align: middle;">
        <%= link_to "Detalles", ticket, class: "btn btn-success"%> 
           
        <th class="text-center" style="vertical-align: middle;">
        
        <% if ticket.aasm_state == "Pendiente" %>
          <%= link_to 'En Proceso', change_state_ticket_path(ticket, tipo: "Resolviendo"),  method: :post, data: { confirm: 'Estás seguro?' }, class: "btn btn-info" %>
          <%= link_to 'Resuelto', change_state_ticket_path(ticket, tipo: "Resuelto"), 
          method: :post, data: { confirm: 'Estás seguro?' }, class: "btn btn-warning" %>  
          <%= link_to 'Cerrar', close_state_ticket_path(ticket), 
          method: :post, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
        <% end %>

        <% if ticket.aasm_state == "Resolviendo" %>
          <%= link_to 'Resuelto', change_state_ticket_path(ticket, tipo: "Resuelto"), 
          method: :post, data: { confirm: 'Estás seguro?' }, class: "btn btn-warning" %>  
          <%= link_to 'Cerrar', close_state_ticket_path(ticket), 
          method: :post, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
        <% end %>

        <% if ticket.aasm_state == "Resuelto" %>
          <%= link_to 'Cerrar', close_state_ticket_path(ticket), 
          method: :post, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
        <% end %>

 <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

        </th>
         </th>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
