<div class="container">
    <div class="formulario">
<h1>
  <strong>CPA - ID:</strong>
  <%= @ticket.cliente_servicio_id %>
</h1>

<div class="ticket-1">
<div class="table-responsive">
  <table class="table table-bordered table-hover">
  <thead>
    <tr class="d-flex">
      <th>Ticket</th>
      <th>Cliente</th>
    </tr>
  </thead>

  <tbody>
     <tr class="d-flex">
      <td>
        <p>
          <strong>Título:</strong>
          <%= @ticket.title %>
        </p>

        <p>
          <strong>Fecha & Hora de Inicio:</strong>
          <%= @ticket.fecha_inicio %>
        </p>

        <p>
          <strong>Estado del Ticket:</strong>
          <%= @ticket.aasm_state %>
        </p>

        <p>
          <strong>Motivo:</strong>
          <%= @ticket.reason %>
        </p>

        <p>
          <strong>Descripción:</strong>
          <%= @ticket.description %>
        </p>
      </td>
      <td>
        <strong>Título:</strong>
          <%= @ticket.title %>
        </p>

        <p>
          <strong>Fecha & Hora de Inicio:</strong>
          <%= @ticket.fecha_inicio %>
        </p>

        <p>
          <strong>Estado del Ticket:</strong>
          <%= @ticket.aasm_state %>
        </p>

        <p>
          <strong>Motivo:</strong>
          <%= @ticket.reason %>
        </p>

        <p>
          <strong>Descripción:</strong>
          <%= @ticket.description %>
        </p>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>


<p>
   <strong>Comentario Nuevo:</strong>
  <%= render 'comments/form' %>
  <ul>
    <% @ticket.comments.each do |c| %>
      <li>
        <%= c.body %> - <%= c.user.email %>
      </li>
    <% end %>
  </ul>  
</p>



<%= link_to 'Editar Ticket', edit_ticket_path(@ticket), class: "btn btn-primary"  %> 
<%= link_to 'Listado de Tickets', tickets_path, class: "btn btn-warning"  %>

</div>
</div>