<h2>Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "30x10" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <br>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :Recordarme %>
    </div>
  <% end -%>
  <br>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
