<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a www.mundosatelital.com, <%= @user.name %></h1>
    <p>
      Te logueaste con éxito a www.mundosatelital.com,
      tu usuario es: <%= @user.email %>.<br>
    </p>
    <p>Gracias por ser parte de nuestro equipo!</p>
  </body>
</html>