Bienvenido a www.mundosatelital.com, <%= @user.name %>

====================================================

Te logueaste con éxito a www.mundosatelital.com, 
tu usuario es: <%= @user.login %>.


Gracias por ser parte de nuestro equipo!