@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

body {
  padding-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  color: #004466;
  text-transform: uppercase;
  font-weight: 800;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

div.nav.ul {
  font-size: 25px;
}

/* header */

#menu {
  font-weight: bold;
  font-size: 1em;
}


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  padding-top: 16px;
  padding-left: 34px;
  padding-right: 30px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #004466;;
  color: #004466;
}

footer a {
  color: #004466;
}

footer a:hover {
  color: #004466;
  background-color: #fff;
  text-decoration: none;

}

footer small {
  float: left;
}

footer small a {
  text-size: 2em;
}

footer ul {
  float: right;
  list-style: none;
  font-weight: normal;
  color: #004466;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-weight: normal;
  font-size: 1em;
  color: #004466;
}

table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: auto;
   border: 1px solid #000;
   border-spacing: 0;
   padding: 0.3em;
   font-size: 16px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* formulario */

.formulario 
  { 
    width:70%;
    margin:0 auto;
    border-style:solid;
    border-width: 2px;
    padding: 20px 10px 10px 20px;
  }

.ticket-1
{ 
    width:90%;
    margin:0 auto;
}

/* button */

a.btn.btn-primary {
 color: white;
}
a.btn.btn-success {
 color: white;
}
a.btn.btn-warning {
 color: white;
}
a.btn.btn-danger {
 color: white;
}

thead {
  color: white;
  background-color: grey;
}
