<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>


<p>
  <strong>Artículos:</strong>
  <% @category.articles.each do |article| %>
  	<%= article.title %>, <%= article.body %>

  <% end %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
