<%= form_with(model: image, local: true) do |f| %>
   <% if @image.errors.any? %>
        <% @image.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger">>&= msg %></div>
        <% end %>
    <% end %>

    <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div class="field">
        <%= f.label :likes_counter %>
        <%= f.text_field :likes_counter %>
    </div>
                
    <div class="form-group">
        <%= f.label :picture %><br>
        <%= f.file_field :picture %>
    </div>

    <div class="actions">
    <%= f.submit %>
    </div>
<% end %>
    


