<div class="col-xs-4">
    <br>
    <figure class="figure">
      
      <figcaption class="figure-caption">
            <%= image.description %> | 
            <%= link_to 'Editar', edit_image_path(image) %> | 
            <%= link_to "Eliminar", image, :method => :delete, data: { confirm: 'Seguro?'} %>
        </figcaption>
    </figure>
    <br>
</div>

<p id="notice"><%= notice %></p>

<h1>Imágenes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Likes_counter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= image.description %></td>
        <td><%= image.likes_counter %></td>
        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


