<h1>Editar Imagen</h1>

<%= form_for @image do |f| %>

	<div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div class="field">
        <%= f.label :likes_counter %>
        <%= f.text_field :likes_counter %>
    </div>

    <div class="form-group">
        <%= f.label :picture %><br>
        <%= f.file_field :picture %>
    </div>

     <div class="actions">
    <%= f.submit 'Modificar',  class: 'btn btn-lg btn-primary' %>
    </div>

<% end %>