<p id="notice"><%= notice %></p>

<h1>Imágenes</h1>

<p><%= link_to 'Nueva Imágen', new_image_path %></p>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Likes_counter</th>
      <th>Imágen</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |i| %>
      <tr>
        <td><%= i.description %></td>
        <td><%= i.likes_counter %></td>
        <td><%= image_tag i.picture.variant(resize:'60x60') %></td> 
        <td><%= link_to 'Show', i %> | <%= link_to 'Edit', edit_image_path(i) %> | 
            <%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

