<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Likes_Counter:</strong>
  <%= @image.likes_counter %>
</p>

<%= image_tag @image.picture.variant(resize: '250x250') %> 


<p>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
</p>