<%= form_with(model: cliente_servicio, local: true) do |form| %>
  <% if cliente_servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente_servicio.errors.count, "error") %> prohibited this cliente_servicio from being saved:</h2>

      <ul>
      <% cliente_servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha_alta %>
    <%= form.datetime_select :fecha_alta %>
  </div>

  <div class="field">
    <%= form.label :fecha_baja %>
    <%= form.datetime_select :fecha_baja %>
  </div>

  <div class="field">
    <%= form.label :aasm_state %>
    <%= form.text_field :aasm_state %>
  </div>

  <div class="field">
    <%= form.label :motivo %>
    <%= form.text_field :motivo %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion %>
  </div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id %>
  </div>

  <div class="field">
    <%= form.label :servicio_id %>
    <%= form.text_field :servicio_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
