<% if @estado == "Alta" %>
<h1>Listado de Servicios Activos</h1>
<%= link_to "Nueva Alta de Servicio", new_cliente_servicio_path, class: "btn btn-primary" %>
<%= link_to "Ver Listado de Bajas", cliente_servicios_path(estado: "Baja"), class: "btn btn-warning" %>

<br><br>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
  <thead>
    <tr class="d-flex">
      <th>Cliente</th>
      <th>CPA / ID</th>
      <th>Tecnología</th>
      <th>Servicio</th>
      <th class="text-center">Contención</th>
      <th class="text-center">Cuota</th>
      <th>Proveedor</th>
      <th class="text-center">Opciones</th>
    </tr>
  </thead>

  <tbody>
  <% @cliente_servicios.each do |cliente_servicio| %>
    <% if cliente_servicio.aasm_state == "Alta" %>
      <tr class="d-flex">
        <td style="width: 23%; vertical-align: middle;"><%= cliente_servicio.cliente.name %></td>
        <td style="width: 7%; vertical-align: middle;"><%= cliente_servicio.cpaid %></td>
        <td style="width: 10%; vertical-align: middle;">
        <%= cliente_servicio.servicio.technology.name %></td>
        <td style="width: 11%; vertical-align: middle;">
        <%= cliente_servicio.servicio.bajada %> / <%= cliente_servicio.servicio.subida %> kbps</td>
        <td class="text-center" style="width: 9%; vertical-align: middle;">
        <%= cliente_servicio.servicio.contencion %></td>
        <td class="text-center" style="width: 6%; vertical-align: middle;">
        <%= cliente_servicio.servicio.cuota_trafico %> GB</td>
        <td style="width: 10%; vertical-align: middle;">
        <%= cliente_servicio.servicio.provider.name %></td>
        
        
        <td class="text-center" style="vertical-align: middle;">
     <%= link_to 'Más Info', cliente_servicio, class: "btn btn-success"  %>
     <%= link_to 'Editar', edit_cliente_servicio_path(cliente_servicio), class: "btn btn-warning"  %>
     <%= link_to 'Dar de Baja', bajar_cliente_servicio_path(cliente_servicio), 
        method: :post, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<% else %>

<% if @estado == "Baja" %>


<h1>Listado de Servicios Dados de Baja</h1>

<%= link_to "Ver Listado de Altas", cliente_servicios_path(estado: "Alta"), class: "btn btn-success" %>
<br><br>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
  <thead>
    <tr class="d-flex">
      <th>Cliente</th>
      <th>CPA / ID</th>
      <th>Tecnología</th>
      <th>Servicio</th>
      <th class="text-center">Contención</th>
      <th class="text-center">Cuota</th>
      <th>Proveedor</th>
      <th>Fecha de Baja</th>
      <th class="text-center">Opciones</th>
    </tr>
  </thead>

  <tbody>
  <% @cliente_servicios.each do |cliente_servicio| %>
     <% if cliente_servicio.aasm_state == "Baja" %>
      <tr class="d-flex">
        <td style="width: 18%; vertical-align: middle;"><%= cliente_servicio.cliente.name %></td>
        <td style="width: 7%; vertical-align: middle;"><%= cliente_servicio.cpaid %></td>
        <td style="width: 10%; vertical-align: middle;">
        <%= cliente_servicio.servicio.technology.name %></td>
        <td style="width: 11%; vertical-align: middle;">
        <%= cliente_servicio.servicio.bajada %> / <%= cliente_servicio.servicio.subida %> kbps</td>
        <td class="text-center" style="width: 9%; vertical-align: middle;">
        <%= cliente_servicio.servicio.contencion %></td>
        <td class="text-center" style="width: 6%; vertical-align: middle;">
        <%= cliente_servicio.servicio.cuota_trafico %> GB</td>
        <td style="width: 9%; vertical-align: middle;">
        <%= cliente_servicio.servicio.provider.name %></td>
        <td style="width: 10%; vertical-align: middle;">
        <%= cliente_servicio.fecha_baja&.strftime("%d/%m/%Y %H:%M") %></td>
        <td class="text-center" style="vertical-align: middle;">
     <%= link_to 'Más Info', cliente_servicio, class: "btn btn-success"  %>
     <%= link_to 'Editar', edit_cliente_servicio_path(cliente_servicio), class: "btn btn-warning"  %>
     <%= link_to 'Revivir', revivir_cliente_servicio_path(cliente_servicio), 
        method: :post, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
      </td>
     </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<% end %>
<% end %>

