<p id="notice"><%= notice %></p>

<p>
  <strong>CPA / ID: </strong>
  <%= @cliente_servicio.cpaid %>
</p>

<p>
  <strong>Fecha alta:</strong>
  <%= @cliente_servicio.fecha_alta %>
</p>

<p>
  <strong>Fecha baja:</strong>
  <%= @cliente_servicio.fecha_baja %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente_servicio.aasm_state %>
</p>

<p>
  <strong>Motivo:</strong>
  <%= @cliente_servicio.motivo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente_servicio.direccion %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @cliente_servicio.cliente.name %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @cliente_servicio.servicio.bajada %> / <%= @cliente_servicio.servicio.subida %> kbps
</p>

<%= link_to 'Edit', edit_cliente_servicio_path(@cliente_servicio) %> |
<%= link_to 'Back', cliente_servicios_path %>
