<footer class="footer">
  <small>
    <a>Monito Apps - Copyright 2019</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contacto", contacto_path %></li>
      <li><%= link_to "Ayuda", ayuda_path %></li>
    </ul>
  </nav>
</footer>