<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container-fluid">
    <%= link_to "MUNDO SATELITAL", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right text-uppercase">
        <li><%= link_to "Home",   root_path %></li>
        <% if user_signed_in? %>
         
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
          </li>

      <!-- MENU DE MUNDO SATELITAL -->
      <li><%= link_to "Clientes", clientes_path %></li>
      <li><%= link_to "Tickets", tickets_path %></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios<b class="caret"></b></a>
      <ul class="dropdown-menu">
         <li><%= link_to "Activos", cliente_servicios_path(:estado => "Alta") %></li>
         <li><%= link_to "Bajas", cliente_servicios_path(:estado => "Baja")   %></li>
      </ul>
      </li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Precios<b class="caret"></b></a>
      <ul class="dropdown-menu">
         <% @proveedor = Provider.all %>
         <% @proveedor.each do |p| %>
         <li><%= link_to "#{p.name}", servicios_path(:provider_name=>"#{p.name}") %></li>
         <% end %>
      </ul>
      </li>

        <% else %>
        
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Registrate", new_user_registration_path %></li>

        <% end %>

      </ul>
    </nav>
  </div>
</header>