<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/default' %>
    <%= render 'layouts/ie9script' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%# flash.each do |key, value| %>
       <div class="alert alert-<%#= key %>"><%#= value %></div>
      <%# end %>        
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>